// Place all the styles related to the Profile controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.initial-title-container {
	height: 90vh;
}

.initial-title-container h1 {
	font-size: 5em;
}

.initial-title-container h3 {
	margin: 0;
	padding-left: 5vh;
}