<div class='container title-container initial-title-container'>
	<%= render 'layouts/top_navbar' %>

	<div class="my-align-center">
		<div>
		<h1>Carolina Prada Hernández</h1>
		<h3>Software Engineer</h3>
		</div>
	</div>
</div>